h1 {
    font-family: "Julius Sans One";
}
h2 {
    font-family: "Archivo Narrow";
}
ul {
    font-family: "Julius Sans One";
}
nav {
    float:right
}
p {
    color:red
}
body {
    background-color:aliceblue
}